{% extends 'base.html' %}

{% block head %}
<title>Plant Village Classification</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Plant Village Classification</h1>
    {% if result|length <1 %}
        <p style="text-align: center">No predictions yet. Please upload an image.</p>
    {% else %}
        <table>

            <thead>
                <tr>
                <th>Label</th>
                <th>Confidence</th>
                </tr>
            </thead>
            <tbody>
                {% for prediction in result %}
            <tr>
                <!-- prediction is a dictionary with label and confidence -->
                <td> {{ prediction.label }} </td>
                <td> {{ prediction.confidence }} </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    <div class="form">
        <form action="/" method="POST" enctype="multipart/form-data" id="form">
            Select image to upload:
            <input type="file" name="image" id="image">
            <input type="submit" value="Upload" name="submit">
        </form>
    </div>
</div>
{% endblock %}